      <div id="about" class="selectable">
              <p><img src="jqtouch.png" /></p>
              <p><strong>jQTouch</strong><br>Version 1.0 beta<br>
                  <a href="http://www.davidkaneda.com">By David Kaneda</a></p>
              <p><em>Create powerful mobile apps with<br> just HTML, CSS, and jQuery.</em></p>
              <p>
                  <a target="_blank" href="http://twitter.com/jqtouch">@@jQTouch on Twitter</a>
              </p>
              <p><br><br><a href="#" class="grayButton goback">Close</a></p>
      </div>