      <div id="animations">
          <div class="toolbar">
              <h1>Animations</h1>
              <a class="back" href="#">Home</a>
          </div>
          <div class="scroll">
              <h2>Most Popular</h2>
              <ul class="rounded">
                  <li><a href="#animdemo">Slide</a></li>
                  <li><a href="#animdemo" class="slideup">Slide Up</a></li>
                  <li><a href="#animdemo" class="dissolve">Dissolve</a></li>
                  <li><a href="#animdemo" class="pop">Pop</a></li>
              </ul>
              <h2>3d Transitions</h2>
              <ul class="rounded">
                  <li><a href="#animdemo" class="flipright">Flip right</a></li>
                  <li><a href="#animdemo" class="flipleft">Flip left</a></li>
                  <li><a href="#animdemo" class="cube">Cube</a></li>
                  <li><a href="#animdemo" class="swap">Swap</a></li>
              </ul>
          </div>
          <div class="info">
              Custom animations are also <a target="_blank" href="http://code.google.com/p/jqtouch/wiki/Animations">easy to write</a>. <br>View the source in <code>demos/customanimation</code> to see how.
          </div>
      </div>